#LangSmith Tracing
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="Artha-Analytics"

# App
PROMPT_PATH=./app/prompts/analyze.yaml

OPEN_ROUTER_MODEL=
OPEN_ROUTER_API_KEY=

# Per-Agent OpenRouter Models (Optional Overrides)
FUNDAMENTAL_ANALYST_MODEL=
MARKET_ANALYST_MODEL=
NEWS_ANALYST_MODEL=
SECTOR_ANALYST_MODEL=
TECHNICAL_ANALYST_MODEL=
RESEARCH_MANAGER_MODEL=
BULL_RESEARCHER_MODEL=
BEAR_RESEARCHER_MODEL=


# Tavily
TAVILY_API_KEY=

# MongoDB
MONGODB_URI=

# FALLBACK URL FOR DATA
INDIANAPI_BASE_URL="https://stock.indianapi.in"
INDIANAPI_API_KEY="your_indianapi_key_here"

# Brevo Email
BREVO_API_KEY="xkeysib-xxxxxxxxxxxxxxxxxxxxxxxx"
SENDER_EMAIL="arthaanalytics.co@gmail.com"
SENDER_NAME="Artha Analytics"
APP_LOGO_URL="https://artha-analytics.vercel.app/navbar.png"

# Upstash Redis
UPSTASH_REDIS_REST_URL="https://your-upstash-instance.upstash.io"
UPSTASH_REDIS_REST_TOKEN="your_upstash_rest_token_here"
